
@{
    Layout = null;
}

<h3>Mvc Kamp Örneği</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama kısmı burası</td>
        <td>true</td>
    </tr>

</table>