
@model IEnumerable<EntityLayer.Concrete.Category>

@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Mvc Kamp Örneği</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CategoryID</td>
            <td>@x.CategoryName</td>
            <td>@x.CategoryDescription.Substring(0,100)</td>
            <td>@x.CategoryStatus</td>
        </tr>
    }

</table>