
<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Yeni Ekle
</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkımızda Yazı Metin Girişi</h2>
            </div>
            <form method="post" action="/About/AddAbout/">
                <div class="modal-body">
                    <label>Hakkımızda Açıklama 1</label>
                    <textarea class="form-control" rows="4" name="AboutDetails1"></textarea>
                    <br />
                    <label>Hakkımızda Açıklama 2</label>
                    <textarea class="form-control" rows="4" name="AboutDetails2"></textarea>
                    <br />
                    <label>Hakkımızda Görsel 1</label>
                    <input type="text" name="AboutImage1" class="form-control" />
                    <br />
                    <label>Hakkımızda Görsel 2</label>
                    <input type="text" name="AboutImage2" class="form-control" />
                    <br />
                    <button class="btn btn-info">Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>
